

img {
    width: 150px;
    height: 150px;
    border: 7px solid black;
    border-radius: 80px;
}

.slider {
    display: flex;
    flex-direction: column;
}

.slider img {
    margin: 20px;
}
.pic {
    display: flex;
    border-bottom: 2px solid black;
    margin: 20px 0;
}
.pic_flex {
    display: flex;
    flex-direction: column;
}

.pic p {
    text-align: left;
    margin: 0 10%;
    color: rgb(9, 24, 51);
    font-size: 30px;
    cursor: default;
    

}

.pic h1 {
font-size: 20px;
cursor: default;

}


#cl {
    background-color: black;
}


.slider {
    flex: 1;
}
