.video {
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    margin: 10px;
    padding: 10px;
}

.raichu-wrapper-module__video___0DAsR {
align-items: center;


}